// utilits styles
@import "./utils/veriables";

// base styles
@import "./base/base";
@import "./base/reset";
@import "./base/product";

//   components styles
@import "./components/container";

@import "./components/typography";

@import "./components/hero";

@import "./components/button";

@import "./components/header";
