.features__icon {
  width: 70px;
  height: 70px;
}
.item__container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  align-items: center;

  border-radius: 4px;
  background-color: #f5f4fa;
}
