.header__container {
  display: flex;
  align-items: center;
}
.nav {
  margin-left: 93px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.contact {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}

.header_contact__link {
  display: flex;
  gap: 10px;
}

.contact__link {
  align-items: center;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}
.contact__icon {
  fill: currentColor;
}

.nav__link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: inherit;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  &::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: 0;
  }
}
