.product__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.product__item {
  flex-basis: calc((100% - 60px) / 3);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .product__description {
    transform: translateY(0%);
  }
}

.product__thumb {
  position: relative;
  overflow: hidden;
}
